body {background-color: #64a2aa;
margin: 0;
padding: 0;}

@font-face {
    font-family: fuente2 ;
    src: url(font/fuente2.ttf);
}

.flex {display: flex;}

.navbar {box-shadow: 1px 5px 15px 4px rgb(251,195,35);
justify-content: center;
height: 6vh;
justify-content: space-between;
}

.titulati {color: rgb(251,195,35);
font-size: 32px;
margin-top: 9px;
font-family: fuente2;
text-shadow: 6px 6px 4px rgba(0,0,0,0.40);}

.iconos {height:32px;
margin-top: 9px;
margin-left: 9px;
margin-right: 9px;}

.contenido {
height: 65vh;
justify-content: center;
align-items: center;
}

.contenidoboton {
height: 23.5vh;
display: flex;
justify-content:end;
align-items: center;}

.fondoboton {border: solid #111111 2px;
border-radius: 100px;
padding: 25px;
margin-right: 35px;
background-color: rgb(251,195,35);
height: 30px;
width: 30px;}

.signomas {height: 30px;
width: 30px;}

.pochoclos {height: 320px;
width: 320px;
}

.piedepag {background-color: rgb(251,195,35);
height: 5vh;
justify-content: center;
color: #111111;
}

footer h4 a {text-decoration: none;
color: black;
text-decoration:underline;}

footer h4 a:hover {
font-size: 20px;
font-family: fuente2;
text-decoration: none;}