body {background-color: #64a2aa;
margin: 0;
padding: 0;}

@font-face {
    font-family: fuente2 ;
    src: url(font/fuente2.ttf);
}

.flex {display: flex;}
.oculto {display: none;}

.center {text-align: center;
justify-content: center;}

.navbar {box-shadow: 1px 5px 15px 4px rgb(251,195,35);
justify-content: center;
height: 52px;
justify-content: space-between;
}

.titulati {color: rgb(251,195,35);
font-size: 32px;
margin-top: 9px;
font-family: fuente2;
text-shadow: 6px 6px 4px rgba(0,0,0,0.40);}

.iconos {height:32px;
margin-top: 9px;
margin-left: 9px;
margin-right: 9px;}

.contenido {
height: 85%;
justify-content: center;
align-items: center;
}

.containerprincipal {
height: 85vh;}

.pochoclos {width: 300px;
height: 300px;
}

.botonagregar {justify-content: end;
}

#signomas {height: 50px;
width: 50px;
background-color: #fbc323;
border:solid #111111 2px;
border-radius: 100%;
padding: 7px;
margin-right: 35px;}

.piedepag {background-color: #fbc323;
height: 44px;
justify-content: center;
color: #111111;
}

footer h4 a {text-decoration: none;
color: black;
text-decoration:underline;}

footer h4 a:hover {
font-size: 20px;
font-family: fuente2;
text-decoration: none;}

.tituloagregaractividad {margin:0px;
text-align: center;
font-size: 32px;}

.agregaractividad {
justify-content:center;}

.formularioactividad {border: solid #fbc323;
box-shadow: 0px 10px 25px #fbc323;
height: 430px;
width: 90%;
margin: 70px;
padding: 25px;}

.formularioactividad input {width: 97%;}

.agregardescripcion {height: 55px;}

.botonagregaractividad a {justify-content: center;
height: 30px;
width: 100px;
background-color: transparent;
border: solid #fbc323 3px;
font-size: 20px;
margin: 15px;
text-align: center;
}

.formularioactividad h5 {color: #fbc323;
margin-bottom: 5px;}

.formularioactividad button {margin: 25px 10px 25px 5px;
}

h5 {font-size: 15px;}