body {background-color: #64a2aa;
margin: 0;
padding:0;
}

@font-face {
    font-family: fuente2 ;
    src: url(font/fuente2.ttf);
}

.flex {display: flex;}
.oculto {display: none;}

.center {text-align: center;
justify-content: center;}

.navbar {box-shadow: 1px 5px 15px 4px rgb(251,195,35);
justify-content: center;
height: 52px;
justify-content: space-between;
}

.titulati {color: rgb(251,195,35);
font-size: 32px;
margin-top: 9px;
font-family: fuente2;
text-shadow: 6px 6px 4px rgba(0,0,0,0.40);}

.iconos {height:32px;
margin-top: 9px;
margin-left: 9px;
margin-right: 9px;}

.contenido {
height: 85%;
width: 98%;
justify-content: center;
align-items: center;

}

.containerprincipal {
height: 80vh;
width: 100%;
justify-content: center;
}

.pochoclos {
width: 100%;
height: 100%;
}

.botonagregar {background-color: transparent;
border: none;
margin-left: 70%;
}

#signomas {height: 50px;
width: 50px;
background-color: #fbc323;
border:solid #111111 2px;
border-radius: 100%;
padding: 7px;
margin-right: 35px;}


.piedepag {background-color: #fbc323;
height: 44px;
justify-content: center;
color: #111111;
width: 100%;
}

footer h4 a {text-decoration: none;
color: black;
text-decoration:underline;}

footer h4 a:hover {
font-size: 20px;
font-family: fuente2;
text-decoration: none;}

.tituloagregaractividad {margin:0px;
text-align: center;
font-size: 32px;
font-family: fuente2;}

.agregaractividad {
justify-content: center;
}

.formularioactividad {border: solid #fbc323;
box-shadow: 0px 10px 25px #fbc323;
height: 435px;
width: 250px;
margin: 70px;
padding: 17px;
padding-bottom: 30px;
}

.formularioactividad input{width: 97%; border: solid black 2px;
background-color: #80808091;
font-size: 15px;}

.formularioactividad select {background-color: #fbc1234d;
font-size: 15px;
border: solid black 2px;
}

.agregardescripcion {height: 55px;}

.botonagregaractividad a {
height: 25px;
width: auto;
padding: 10px;
border: #111111 solid ;
font-size:18px;
font-family: fuente2;
margin: 22px;
text-align:center;
color: black;
border-radius: 10px;
}

.botonagregaractividad a:hover {
    
    background-color: #fbc323;
    color:#fbc323;
    box-shadow: 0px 1px 9px 20px rgba(0,0,0,0.66) inset;
-webkit-box-shadow: 0px 1px 9px 20px rgba(0,0,0,0.66) inset;
-moz-box-shadow: 0px 1px 9px 20px rgba(0,0,0,0.66) inset;
}

.formularioactividad h5 {color: #fbc323;
margin-bottom: 5px;}

.formularioactividad button {margin: 25px 10px 25px 5px;
}

h5 {font-size: 15px;}

hr {
    height: 2px;
    background-color:#fbc323;
    border: none;
}


#botoncancelar{background-color: rgba(255, 0, 0, 0.685);}
#botoncrear {background-color: rgba(0, 128, 0, 0.568);}


.containerselectores {justify-content: center;}

.selectorcolores {
height: 20px;
width: 100%;
margin-top: 0px;
margin-bottom: 0px;
justify-content: left;
}

.selectorcolores li{display: inline;
}

.circulo{height: 20px;
padding: 0;
margin-left: 5px;
border-radius: 100%;
margin-right: 70px;
}

.prioridad {font-family: fuente2;
color: black;
margin-top: 20px;
margin-bottom: 3px;}

#circulo2{background-color: green;}

#circulo3{background-color: orange;}

#circulo4{background-color: red;
}